/* style.css */

body {
  background-color: #f8f9fa;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

.frame {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 2, 0.8), rgba(0, 0, 0, 0.8)), url(bg.JPG);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-fluid {
  width: 100%;
  color: #fff;
}

.btn-custom-color {
  background-color: #ff4500;
  color: #ffffff;
  border-color: #ff4500;
}

.btn-custom-color:hover {
  background-color: #cc3700;
  border-color: #cc3700;
}

.form-frame {
  max-width: 90%; /* Change this value to adjust the width of the form */
  margin: auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: rgb(0, 0, 255); /* Change color as desired */
  position: relative;
  overflow: hidden;
}

.form-frame::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  border: 2px solid transparent;
  border-radius: 10px;
  animation: running-line-animation 4s infinite linear;
  z-index: -1; /* Ensure the line is behind the form content */
}

@keyframes running-line-animation {
  0% {
    top: -2px;
    left: -2px;
  }
  25% {
    top: -2px;
    left: calc(100% - 2px);
  }
  50% {
    top: calc(100% - 2px);
    left: calc(100% - 2px);
  }
  75% {
    top: calc(100% - 2px);
    left: -2px;
  }
  100% {
    top: -2px;
    left: -2px;
  }
}
